.layoutContainer {
  display: flex;
  height: 100vh;
  background-color: #fefaf6;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.ordersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(337px, 1fr));
  gap: 20px;
  margin-top: 20px;
  padding-top: 20px;
  overflow-y: auto;
}
